/*Courtney Ardis
AVF 1212
Demo App 2 */
body{
    background: #292929;
    font-family: Arial, Helvetica, serif;
    font-size: 14pt;
}
/* 
    Button styling help from: http://www.cssbuttongenerator.com/ 
    Custom modifications by Courtney Ardis
*/
.button {
    -moz-box-shadow:inset 0px 0px 0px -1px #caefab;
    -webkit-box-shadow:inset 0px 0px 0px -1px #caefab;
    box-shadow:inset 0px 0px 0px -1px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    background-color:#77d42a;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #268a16;
    display:inline-block;
    color:#000;
    font-family:arial;
    font-size:18px;
    font-weight:bold;
    padding:5px 20px;
    text-decoration:none;
    text-shadow:0px -1px 0px #aade7c;
}.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
    background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    background-color:#5cb811;
}.button:active {
    position:relative;
    top:1px;
}
/* 
    Button styling help from: http://www.cssbuttongenerator.com/ 
    Custom modifications by Courtney Ardis
*/
li{
    list-style: none;
}
/*div{
    margin: 5px;
}*/
h1{
    color: #77d42a;
}
h2{
    color: #77d42a;
    text-align: left;
    margin-bottom: 0px;
}
ul{
    margin: 0px;
}
.research{
    color: #fff;
}
#header, #content, #footer {
    text-align: center;
/*    margin-left: 35px;
    margin-right: 35px;*/
}
#footer{
    color: gray;
}
.main{
    background: gray;
    border-radius: 15px;
    padding: 5px;

}
.liInline {
    display: inline;
}
#video{
    text-align: left;
}

